    <p>
      <em>Reproducible builds</em> enable anyone to reproduce bit by bit
      identical binary packages from a given source, so that anyone can verify
      that a given binary derived from the source it was said to be derived.
      There is more information about
      <a href="https://wiki.debian.org/ReproducibleBuilds">reproducible builds on the Debian wiki</a>
      and on
      <a href="https://reproducible-builds.org">https://reproducible-builds.org</a>.
      These pages explain in more depth why this is
      useful, what common issues exist and which
      workarounds and solutions are known.
    </p>
    <p>
      <em>Reproducible OpenWrt</em> is an effort to apply this to OpenWrt. Thus each OpenWrt target is build twice, with a few variations added and then the resulting images and packages from the two builds are compared using <a href="https://tracker.debian.org/diffoscope">diffoscope</a>. OpenWrt generates many different types of raw <code>.bin</code> files, and diffoscope does not know how to parse these. Thus the resulting diffoscope output is not nearly as clear as it could be - hopefully this limitation will be overcome eventually, but in the meanwhile the input components (uImage kernel file, rootfs.tar.gz, and/or rootfs squashfs) can be inspected. Also please note that the toolchain is not varied at all as the rebuild happens on exactly the same system. More variations are expected to be seen in the wild.</p>
    <p>
      There is a weekly run <a href="https://jenkins.debian.net/view/reproducible/job/reproducible_openwrt/">jenkins
        job</a> to test the <code>master</code> branch of <a href="https://github.com/openwrt/openwrt.git">OpenWrt.git</a>. The
      jenkins job is running <a href="https://salsa.debian.org/qa/jenkins.debian.net/tree/master/bin/reproducible_openwrt.sh">reproducible_openwrt.sh</a>
      in a Debian environment and this script is solely responsible for creating
      this page. Feel invited to join <code>#reproducible-builds</code> (on
      irc.oftc.net) to request job runs whenever sensible. Patches and other <a href="mailto:reproducible-builds@lists.alioth.debian.org">feedback</a> are
      very much appreciated - if you want to help, please start by looking at the
      <a href="https://jenkins.debian.net/userContent/todo.html#_reproducible_openwrt">ToDo
        list for OpenWrt</a>, you might find something easy to contribute. <br />Thanks to <a href="https://www.ionos.com">IONOS</a> for
      donating the virtual machines this is running on!</p>
    <p>
      <ul>
        {{ #targets }}
        <li><a href="{{ root }}/{{ version }}/{{ name}}">{{ version }} - {{ name }}</a></li>
        {{ /targets }}
      </ul>
    </p>
    <table>
      <tr>
        <th>git commit log</th>
      </tr>
      <tr>
        <td>
          <pre>{{ git_log_oneline }}</pre>
        </td>
      </tr>
    </table>
